<div class="about_container">
  <div>
  	<h1>About Brian</h1>
		</div>  

  <ul class="responsive_grid">
  	<li>
    <div class="team_member">
       <div class="info">
         <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAP1AAAAJGU5NGE3NTZjLWM4NjItNDY4Ni05NDEzLTU0OWNmYTNjY2IyNw.jpg" alt=""/>
         <h5>Brian Ovalles</h5>
         <h6>Developer</h6> 
      </div>
      <div class="info_reveal">
        <h6>Contact<br/>Brian Ovalles</h6>
        <p><a href="mailto:address@addresss.com">baovalle@yahoo.com</a></p>
        <p>Email me here!.</p>
      </div>
    </div>
  </li>
</ul>

<div class="content" id="content">
    <p>
      The purpose of this arrow demo is to indicate that there is further content down the page. While studies have generally shown that users <em>do, in fact,</em> scroll (thus killing the worries about page fold), it still has become somewhat fashionable to indicate scroll intent.
    </p>
    <p>
      A subtle animation triggered after a period of time draws attention to the scroll indicator. Some jQuery hides the indicator after the user begins scrolling.
    </p>
    </div>
</div>