<div class="contact_container">
		<h1>Contact Me </h1>
	<div class="content" id="content">
    	<p>The purpose of this arrow demo is to indicate that there is further content down the page. While studies have generally shown that users <em>do, in fact,</em> scroll (thus killing the worries about page fold), it still has become somewhat fashionable to indicate scroll intent.</p>
    	<p>A subtle animation triggered after a period of time draws attention to the scroll indicator. Some jQuery hides the indicator after the user begins scrolling.</p>
    </div>

			<div class="social">
      		<div class="btn-facebook"><%= link_to 'Facebook', "/portfolio" %><span class='icon-facebook'></span>
      		</div>
      	</div>
</div>  		
      		
      		