  <div class="banner">
    <ul>
      <li style="background-image: url('https://www.dropbox.com/s/qjkses1eiopdyge/Screen%20Shot%202016-05-06%20at%207.07.58%20PM.png?dl=0');"><h1>The Broadway Project</h1></li>
      <li style="background-image: url('http://www.healthyfood-diet.com/wp-content/uploads/2014/11/Healthy-Foods.jpeg');"><a href=""><h1>This is my slider.</h1></a></li>
      <li style="background-image: url('https://www.mediabistro.com/wp-content/uploads/2016/02/tips-on-getting-your-copywriter-portfolio-started.jpg');"><h1>This is my slider.</h1></li>
    </ul>
</div>

<div class="main">
	<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="https://s3.amazonaws.com/codecademy-content/projects/armando-perez/p4.jpg">
        <h2> Bean Project</h2>
        <p>This bean project was awesome!</p>
        <p class="btn">Check it out</p>
      </div>
      <div class="col-md-4">
        <img src="https://s3.amazonaws.com/codecademy-content/projects/armando-perez/p4.jpg">
	      <h2> Bean Project</h2>
        <p>This bean project was awesome!</p>
        <p class="btn">Check it out</p>
      </div>
      <div class="col-md-4">
      	<img src="https://s3.amazonaws.com/codecademy-content/projects/armando-perez/p4.jpg">
	      <h2> Bean Project</h2>
        <p>This bean project was awesome!</p>
        <p class="btn">Check it out</p>
      </div>	
    </div>
  </div>
</div>