<div class="jumbotron">
  <div class="container">
		<div class="main">
  <h2>Brian Ovalles</h2>
      <div>
    Hello my name is Brian and I build applications    
      </div>
 		
  		<div class="btn-main"><%= link_to 'View My Work', "/portfolio" %></div>
      
	</div>


		</div>
			</div>