<div class="jumbotron">
  <div class="container">
		<div class="main">
  <h2>Brian Ovalles</h2>
      <div>
    		<p style="padding-bottom:20px"> Hello my name is Brian and I build applications </p>
      			</div>
 		<div class="btn-main"><%= link_to 'View My Work', "/portfolio" %></div>
      </div>
      <div class="search-bar">
	<input id="fname" placeholder="Find the best..." type="text">
		<button type="submit" class="success button postfix" name="search_submit" value="Search">
  			<i class="fi-magnifying-glass"></i> Search</button>
</div>
    </div>
</div>
  			