<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
  <li role="presentation"><a href="">Brian Ovalles</a></li>
</ul>

<div class="jumbotron">
  <div class="container">
		<div class="main">
  Hello my name is Brian and I build applications 
	</div>

<div class="btn-main"> View my work
	</div>
		</div>
			</div>
  
<div class="footer">
  <ul>
    <li>Github</li>
    <li>Linkedin</li>
    <li>Twitter</li>
    <li>&copy Copyright Brian Ovalles</li>
  </ul>
</div>